# Application
NODE_ENV=development
PORT=3000

# Database (PostgreSQL)
DB_HOST=localhost
DB_PORT=34413
DB_USERNAME=postgres
DB_PASSWORD=tCImwubeJLvURibTlxWgoRTzdOSrEwCH
DB_NAME=railway
DB_HOST=hopper.proxy.rlwy.net

# JWT
JWT_SECRET=8fK#2vL!9qZx@7Rp$Wm3Yt&N5uB1eHcD
JWT_EXPIRES_IN=7d

# Contact (SMTP)
CONTACT_EMAIL=valireyimbergenov79@gmail.com

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=valireyimbergenov79@gmail.com
SMTP_PASS=ikrazxvopxakjpra
SMTP_SECURE=false
